.jumbotron {
  background-color: #6bfc03;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  background-color: #6bfc03;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tipo-ruta {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btm-reserva {
  width: 100%;
  position: all;
  left: 0px;
  bottom: 0px;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
