$green: #03f4fc;
$blue: #33AFFF;
$yellow: #ffea00;
$red: #ff1100;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}  

.jumbotron {
	background-color: $green;
	color: black;
	@include margenes(50px, 0px);
}


.footer {
	background-color: $green;
	padding:10px 10px 0 10px;
	@include margenes(10px, 0px);
}


.tipo-ruta{
	flex:1 200px;
	@include margenes(10px, 0px);
}

.btm-reserva{
	width: 100%;
	position: all;
	left: 0px;
	bottom: 0px;
	border-radius: 0px;
}
.footer-addres-icon {
	padding-right: 10px
}

.tab-content {
	padding-top: 10px;
}