@green: #6bfc03;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @green;
  color: black;
 .margenes( 50px, 0px);
  }

.footer {
  background-color: @green;
  padding: 10px 10px 0 10px;
  .margenes( 10px, 0px);
  }

.tipo-ruta {
  flex: 1 200px;
  .margenes( 10px, 0px);
  }

.btm-reserva {
  width: 100%;
  position: all;
  left: 0px;
  bottom: 0px;
  border-radius: 0px;
   }

.footer-addres-icon {
  padding-right: 10px;
   }

.tab-content {
  padding-top: 10px;
   }
